[Desktop Entry]
Type=Application
Name=twitch-indicator
Comment=Twitch.tv indicator for Linux. Tracks your followed channels and notifies when they go live.
Exec=twitch-indicator
Icon=twitch-indicator
Terminal=false
StartupNotify=false
Categories=Network;TrayIcon;
