[Desktop Entry]
Type=Application
Name=Twitch Indicator
Comment=Tracks your followed channels and notifies when they go live.
Exec=twitch-indicator
Icon=twitch-indicator
Terminal=false
StartupNotify=false
Categories=Network;TrayIcon;
OnlyShowIn=GNOME;GNOME-Classic;GNOME-Flashback;KDE;LXDE;LXQt;MATE;Razor;ROX;TDE;Unity;XFCE;EDE;Cinnamon;Pantheon;DDE;Endless;Old;
